body {
    /* ref: https://fonts.google.com/specimen/Source+Sans+Pro?selection.family=Source+Sans+Pro */
    font-family: "superfrench", "times";
    padding: 1em 3em;
  }
  
  .dot {
    cursor: pointer;
    fill: purple
  }
  
  .dot:hover {
    fill: black;
    outline: goldenrod;
    outline-color: goldenrod;
    outline-width: thick;
  }
  
  .axis-label {
    font-size: 14px;
    fill: black;
    text-anchor: middle;
  }
  
  .trend {
    fill: lightblue;
    stroke: darkcyan;
  }